body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container#releases {
  position:fixed;
  top:30px;
  right:5px;
}

.container#options{
  position:fixed;
  top:30px;
  right:200px;
}

.options,._id {
  visibility:collapse;
}
