extends ../layout

block variables
  - var title = release.title + ' by ' + release.artist

block content
  .container
    .row
      .col-xs-12
        h1 #{release.title} by #{release.artist}
        table.table
          each val, key in releaseDisplay
            tr
              td= key
              td= val
