extends ../layout

block content
  .container
    .row
      .col-xs-12
        h1= 'New Release'
        form.form-horizontal(method='post', action='/releases', role='form')
          include _form_fields
