script(type='text/javascript' src='/vendor/jquery/jquery.min.js')
script(type='text/javascript' src='/vendor/jquery/jquery.tablesorter.min.js')
script(type='text/javascript' src='/javascripts/initialize.js')
script(src='/vendor/bootstrap/bootstrap.min.js')
script(type='text/javascript' src='/javascripts/tablesorter.js')
script(type='text/javascript' src='/javascripts/delete-confirm.js')
